.sb {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100%;
  align-items: center;
  gap: 20px;
  background-color: var(--background);
  color: var(--text);

  & > .top {
    width: 100%;
  }

  & > .bottom {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    & > .pages {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 0.5rem;
      width: 100%;
      box-sizing: border-box;

      & > .link {
        text-decoration: none;
        color: var(--text);
        padding: 0.5em 0.5em;
        width: 100%;
        box-sizing: border-box;
        border-radius: 0.5rem;
        border-left: 4px solid transparent;
        transition: all 0.1s ease-in-out;

        &:hover {
          background-color: var(--background-100);
          color: var(--text);
          cursor: pointer;
        }

        &.active {
          background-color: var(--green);
          color: var(--text);
          border-left: var(--green) 4px solid;
        }
      }
    }
  }
}
