.base-layout {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.base-layout-right {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  color: var(--text);
}
