.tab {
  background-color: var(--background-100);
  color: var(--background-600);
  font-weight: bold;
  border-radius: 0;
  padding: 0.2rem 0;
  margin: 0 0.5rem;

  &:hover {
    background-color: var(--background-100);
    color: var(--text);
  }

  &.active {
    color: var(--blue);
    border-bottom: 2px solid var(--blue);
  }
}
