/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Nunito:700|Nunito%20Sans:400");

body {
  font-family: "Nunito Sans";
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Nunito";
  font-weight: 700;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 4.21rem; /* 67.36px */
}

h2 {
  font-size: 3.158rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}
/* End fonts */

/* Global styles */
button {
  border: none;
  font: inherit;
  border-radius: 0.75em;
  padding: 1em 2em;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

html,
body,
p {
  margin: 0;
  padding: 0;
}
/* End global styles */

/* Main colors */
@media (prefers-color-scheme: light) {
  :root {
    --text: #060521;
    --background: #ffffff;
    --green: #9ae561;
    --red: #da5858;
    --blue: #67a4da;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #e1e0fa;
    --background: #000000;
    --green: #539e1a;
    --red: #a72525;
    --blue: #256298;
  }
}

:root[data-theme="light"] {
  --text: #060521;
  --background: #ffffff;
  --green: #9ae561;
  --red: #da5858;
  --blue: #67a4da;
}
:root[data-theme="dark"] {
  --text: #e1e0fa;
  --background: #000000;
  --green: #539e1a;
  --red: #a72525;
  --blue: #256298;
}
/* End main colors */

/* Shades */
@media (prefers-color-scheme: light) {
  :root {
    --text-50: #e9e9fc;
    --text-100: #d4d3f8;
    --text-200: #a9a6f2;
    --text-300: #7e7aeb;
    --text-400: #534ee4;
    --text-500: #2721de;
    --text-600: #201bb1;
    --text-700: #181485;
    --text-800: #100d59;
    --text-900: #08072c;
    --text-950: #040316;

    --background-50: #f2f2f2;
    --background-100: #e6e6e6;
    --background-200: #cccccc;
    --background-300: #b3b3b3;
    --background-400: #999999;
    --background-500: #808080;
    --background-600: #666666;
    --background-700: #4d4d4d;
    --background-800: #333333;
    --background-900: #1a1a1a;
    --background-950: #0d0d0d;

    --green-50: #f1fbe9;
    --green-100: #e3f8d3;
    --green-200: #c7f1a7;
    --green-300: #abea7b;
    --green-400: #8fe250;
    --green-500: #73db24;
    --green-600: #5caf1d;
    --green-700: #458415;
    --green-800: #2e580e;
    --green-900: #172c07;
    --green-950: #0c1604;

    --red-50: #faeaea;
    --red-100: #f6d5d5;
    --red-200: #edabab;
    --red-300: #e38282;
    --red-400: #da5858;
    --red-500: #d12e2e;
    --red-600: #a72525;
    --red-700: #7d1c1c;
    --red-800: #541212;
    --red-900: #2a0909;
    --red-950: #150505;

    --blue-50: #eaf3fa;
    --blue-100: #d6e7f5;
    --blue-200: #adceeb;
    --blue-300: #84b6e1;
    --blue-400: #5b9dd7;
    --blue-500: #3285cd;
    --blue-600: #286aa4;
    --blue-700: #1e507b;
    --blue-800: #143552;
    --blue-900: #0a1b29;
    --blue-950: #050d15;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-50: #040416;
    --text-100: #08072c;
    --text-200: #110e58;
    --text-300: #191584;
    --text-400: #211daf;
    --text-500: #2a24db;
    --text-600: #5450e2;
    --text-700: #7f7bea;
    --text-800: #aaa7f1;
    --text-900: #d4d3f8;
    --text-950: #eae9fb;

    --background-50: #0d0d0d;
    --background-100: #1a1a1a;
    --background-200: #333333;
    --background-300: #4d4d4d;
    --background-400: #666666;
    --background-500: #808080;
    --background-600: #999999;
    --background-700: #b3b3b3;
    --background-800: #cccccc;
    --background-900: #e6e6e6;
    --background-950: #f2f2f2;

    --green-50: #0c1604;
    --green-100: #172c07;
    --green-200: #2e580e;
    --green-300: #458415;
    --green-400: #5caf1d;
    --green-500: #73db24;
    --green-600: #8fe250;
    --green-700: #abea7b;
    --green-800: #c7f1a7;
    --green-900: #e3f8d3;
    --green-950: #f1fbe9;

    --red-50: #150505;
    --red-100: #2a0909;
    --red-200: #541212;
    --red-300: #7d1c1c;
    --red-400: #a72525;
    --red-500: #d12e2e;
    --red-600: #da5858;
    --red-700: #e38282;
    --red-800: #edabab;
    --red-900: #f6d5d5;
    --red-950: #faeaea;

    --blue-50: #050d15;
    --blue-100: #0a1b29;
    --blue-200: #143552;
    --blue-300: #1e507b;
    --blue-400: #286aa4;
    --blue-500: #3285cd;
    --blue-600: #5b9dd7;
    --blue-700: #84b6e1;
    --blue-800: #adceeb;
    --blue-900: #d6e7f5;
    --blue-950: #eaf3fa;
  }
}

:root[data-theme="light"] {
  --text-50: #e9e9fc;
  --text-100: #d4d3f8;
  --text-200: #a9a6f2;
  --text-300: #7e7aeb;
  --text-400: #534ee4;
  --text-500: #2721de;
  --text-600: #201bb1;
  --text-700: #181485;
  --text-800: #100d59;
  --text-900: #08072c;
  --text-950: #040316;

  --background-50: #f2f2f2;
  --background-100: #e6e6e6;
  --background-200: #cccccc;
  --background-300: #b3b3b3;
  --background-400: #999999;
  --background-500: #808080;
  --background-600: #666666;
  --background-700: #4d4d4d;
  --background-800: #333333;
  --background-900: #1a1a1a;
  --background-950: #0d0d0d;

  --green-50: #f1fbe9;
  --green-100: #e3f8d3;
  --green-200: #c7f1a7;
  --green-300: #abea7b;
  --green-400: #8fe250;
  --green-500: #73db24;
  --green-600: #5caf1d;
  --green-700: #458415;
  --green-800: #2e580e;
  --green-900: #172c07;
  --green-950: #0c1604;

  --red-50: #faeaea;
  --red-100: #f6d5d5;
  --red-200: #edabab;
  --red-300: #e38282;
  --red-400: #da5858;
  --red-500: #d12e2e;
  --red-600: #a72525;
  --red-700: #7d1c1c;
  --red-800: #541212;
  --red-900: #2a0909;
  --red-950: #150505;

  --blue-50: #eaf3fa;
  --blue-100: #d6e7f5;
  --blue-200: #adceeb;
  --blue-300: #84b6e1;
  --blue-400: #5b9dd7;
  --blue-500: #3285cd;
  --blue-600: #286aa4;
  --blue-700: #1e507b;
  --blue-800: #143552;
  --blue-900: #0a1b29;
  --blue-950: #050d15;
}
:root[data-theme="dark"] {
  --text-50: #040416;
  --text-100: #08072c;
  --text-200: #110e58;
  --text-300: #191584;
  --text-400: #211daf;
  --text-500: #2a24db;
  --text-600: #5450e2;
  --text-700: #7f7bea;
  --text-800: #aaa7f1;
  --text-900: #d4d3f8;
  --text-950: #eae9fb;

  --background-50: #0d0d0d;
  --background-100: #1a1a1a;
  --background-200: #333333;
  --background-300: #4d4d4d;
  --background-400: #666666;
  --background-500: #808080;
  --background-600: #999999;
  --background-700: #b3b3b3;
  --background-800: #cccccc;
  --background-900: #e6e6e6;
  --background-950: #f2f2f2;

  --green-50: #0c1604;
  --green-100: #172c07;
  --green-200: #2e580e;
  --green-300: #458415;
  --green-400: #5caf1d;
  --green-500: #73db24;
  --green-600: #8fe250;
  --green-700: #abea7b;
  --green-800: #c7f1a7;
  --green-900: #e3f8d3;
  --green-950: #f1fbe9;

  --red-50: #150505;
  --red-100: #2a0909;
  --red-200: #541212;
  --red-300: #7d1c1c;
  --red-400: #a72525;
  --red-500: #d12e2e;
  --red-600: #da5858;
  --red-700: #e38282;
  --red-800: #edabab;
  --red-900: #f6d5d5;
  --red-950: #faeaea;

  --blue-50: #050d15;
  --blue-100: #0a1b29;
  --blue-200: #143552;
  --blue-300: #1e507b;
  --blue-400: #286aa4;
  --blue-500: #3285cd;
  --blue-600: #5b9dd7;
  --blue-700: #84b6e1;
  --blue-800: #adceeb;
  --blue-900: #d6e7f5;
  --blue-950: #eaf3fa;
}
/* End shades */
